<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="app">
    <h1>{{title}}</h1>
    <span> <strong>{{ status }}</strong> </span>
    <table border="1px" cellpadding="10px">
       <thead>
            <tr>
                <th>Vencimento</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Paga?</th>
            </tr>
       </thead>
        <tbody>
            <tr v-for="obj in bills">
                <td> {{ obj.date_due }}</td>
                <td> {{ obj.name }} </td>
                <td> {{ obj.value }}</td>
                <td> {{ obj.status2}} </td>
            </tr>
        </tbody>
    </table>
    <p v-for="(x, obj) in bills">
        {{x}} {{ obj.name }}
    </p>


<script type="text/javascript" src="node_modules/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>